.logo {
    display: flex;
    flex-direction: column;
    line-height: 1;
    white-space: nowrap;

    &__name {
        text-transform: uppercase;
        color: var(--color-white);
    }

    &__location {
        color: var(--color-white);
        font-weight: 300;
    }
}
