@use 'helpers' as *;

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #e8e8e8;
    --color-gray-2: #565656;

    --color-dark-bg: #232323;
    --color-light-bg: #faf7f0;
    --color-light-bg-2: #f4f4f4;
    --color-light-bg-3: #efefef;
    --color-light-bg-4: #f5f5f5;
    --color-violet-bg: #3e377a;

    --color-button: #feed00;
    --color-button-2: #b3a600;
    --color-button-green: #57a22b;
    --color-button-green-2: #37661b;
    --color-button-green-3: #1b8a09;
    --color-orange: #ef7f1b;
    --color-orange-2: #f27e19;
    --color-red: #d32f2f;  /* Основной яркий красный */
    --color-red-2: #a02121; /* Затемнённый вариант */
    --color-blue: #80a4d2;
    --color-blue-2: #024b9f;
    --color-blue-3: #00156e;

    --border: var(--border-width-s) solid var(--color-gray);

    --border-width-s: 1px;

    --border-radius-s: 3px;
    --border-radius-m: 4px;

    --font-family-base: "OpenSans", sans-serif;

    --header-height: 61px;

    --container-width: 1140px;
    --container-width-l: 1760px;
    --container-padding-x: 16px;

    --section-padding-y: #{fluid(60, 30)};

    --transition-duration: 0.2s;
    --transition-duration-longer: 0.4s;
}
